{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon"  href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Sawarabi+Gothic&display=swap" rel="stylesheet">
    <title>AGE-ものの年齢記録アプリ-</title>
</head>
<body>
    <header>
        <div class="header">
          <nav>
            <a href="/."><img src="{% static 'img/logo.svg' %}" alt = "AGE" height= "30" class="logo"></a>
            <ul>
              <li><a href="/homeeleccreate">追加</a></li>
              <li><a href="/list">一覧</a></li>
              <li><a href="/gallery">ギャラリー</a></li>
              <li><a href="/.">設定</a></li>
              <li><a href="/.">ヘルプ</a></li>
            </ul>
          </nav>
        </div>
      </header>
        <div class="pagetitle">
        {% block header %}
        {% endblock header %}
        </div>
        <div class="main">
        {% block content %}
        {% endblock content %}
      </div>
</body>
</html>
