.header{
    background-color: #ff2e00;
    height: 50px;
    width:100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: block !important;
    margin: 0 auto 300px auto;
    box-shadow: 10px 10px 20px 2px #ddd;
}
.logo{
    padding: auto  0 auto 10px;
    margin: 0 200px 0 0 ;
    float: left;
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 5px;
}
.header li{
    padding: auto 10px;
    margin-top:0;
    list-style: none;
    margin-left: 100px;
    position: relative;
    bottom: 3px;
}
.header a{
    margin-left: 7px;
    padding:0 5px 0 5px;
    margin-top:0;
    color: #fff;
    text-decoration: none;
    float: left;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    margin:70px 0 100px 0; 
    padding:0;
    color: #2C2F33;
    background-color: rgba(255, 255, 255, 0.781);
    position: relative;
    min-height: 100vh;
    margin-top:0;
}
.main{
   width: 1250px;
   margin: 0 auto;
}
a{
    text-decoration: none;
}
.red-a{
    color: #ff2e00;
}
.red-a:hover,.header a:hover{
    text-decoration: underline;
}
.furn,.elec,.aniv,.fashion,.other{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap:wrap;
}
.furn li,.elec li,.aniv li,.fashion li,.other li{
    display:flex;
    flex-direction:column;
    flex:0 0 15%;
    border-radius:10px;
    margin:20px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px 2px #f0f0f0;
}
.furn li:hover,.elec li:hover,.aniv li:hover,.fashion li:hover,.other li:hover{
    opacity: 0.6;
}
.furn li{border: solid 3px #ffe47a;}
.elec li{border: solid 3px #7a9dff;}
.aniv li{border: solid 3px #ff917a;}
.fashion li{border: solid 3px #ff7ab4;}
.other li{border: solid 3px #aaff7a;}
.furn p,.elec p,.aniv p,.fashion p,.other p{
    display:block;
    margin-top:auto;
}
.furn img ,.elec img,.aniv img,.fashion img,.other img{
    object-fit: cover;
    width: 200px;
    height: 150px;
    border-radius:7px 7px 0 0;
}
.name{
    color: #2C2F33;
    padding: 10px 0 0 10px;
}
.furn img{border-bottom: solid 2px #ffe47a;}
.elec img{border-bottom: solid 2px #7a9dff;}
.aniv img{border-bottom: solid 2px #ff917a;}
.fashion img{border-bottom: solid 2px #ff7ab4;}
.other img{border-bottom: solid 2px #aaff7a;}
.age{
    font-size:35px;
    color: #2C2F33;
    font-weight: 700; 
    padding: 0 20px;
}
h2{
    font-weight: 500; 
    font-family: 'Noto Sans JP', sans-serif;
    padding:0;
    width: 150px;
    text-align: center;
}
.furntitle{border-bottom: solid 3px #ffe47a;}
.electitle{border-bottom: solid 3px #7a9dff;}
.anivtitle{border-bottom: solid 3px #ff917a;}
.fashiontitle{border-bottom: solid 3px #ff7ab4;}
.othertitle{border-bottom: solid 3px #aaff7a;}
h1{
    font-size:50px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400; 
    color: #494331;
    width: 1250px;
    margin: 100px auto 0 auto;
}
.thingstitle{
    margin: 10px auto 20px auto;
}
.addbtn{
    top:10px;
    left:1150px;
}
.addbtn:hover{
    top:11px;
    left:1151px;
}
.editbtn{
    top:350px;
    left:1000px;
}
.editbtn:hover{
    top:351px;
    left:1001px;
}
.deletebtn{
    top:350px;
    left:1100px;
}
.deletebtn:hover{
    top:351px;
    left:1101px;
}
.addbtn,.editbtn,.deletebtn{
    position:absolute;
    margin:20px;
    border-radius:80px;
    box-shadow: 10px 10px 20px 2px #f0f0f0;
}
.addbtn:hover,.editbtn:hover,.deletebtn:hover{
    opacity: 0.8;
    width:78px;
    height:78px;
}
.thumbnail{
    width:100%;
    height: 350px;
    margin:0 auto;
    object-fit: cover;
}
.detailage{
    font-size:35px;
    font-weight: 400; 
}
.category{
    position:relative;
    bottom:0;
    float:left;
    padding:0 5px;
}
.float{
    float:left;
    position:relative;
    bottom:10px;
}
.furntag{border: solid 2px #ffe47a;}
.electag{border: solid 2px #7a9dff;}
.anivtag{border: solid 2px #ff917a;}
.clothtag{border: solid 2px #ff7ab4;}
.othertag{border: solid 2px #aaff7a;}
.furntag,.electag,.anivtag,.clothtag,.othertag{
    float:left;
    border-radius:30px;
    height:30px;
    padding:0 15px 0 5px;
    background-color:#fff;
}
.furntag p,.electag p,.anivtag p,.clothtag p,.othertag p{
    display: inline-block;
    line-height: 0;
}
.float-clear{
    clear:both;
}