{% extends 'base.html' %}
{% block header %}
    <h1>一覧</h1>
{% endblock header %}
{% block content %}
<h2>食品</h2>
    {% for food in object_list %}
        <p>{{food.foodname}}</p>
        <ul>
            <li><a href="{% url 'age:fooddetail' food.pk%}">詳細画面へ</a></li>
            <li><a href="{% url 'age:foodupdate' food.pk%}" >編集画面へ</a></li>
            <li><a href="{% url 'age:fooddelete' food.pk%}" >削除画面へ</a></li>
        </ul>
    {% endfor %}
    <h2>家電</h2>
    {% for elec in object_list2 %}
        <p>{{elec.HomeElecApp}}</p>
        <ul>
            <li><a href="{% url 'age:homeelecdetail' elec.pk%}">詳細画面へ</a></li>
            <li><a href="{% url 'age:homeelecupdate' elec.pk%}" >編集画面へ</a></li>
            <li><a href="{% url 'age:homeelecdelete' elec.pk%}" >削除画面へ</a></li>
        </ul>
{% endfor %}
    <h2>記念日</h2>
    {% for ani in object_list3 %}
        <p>{{ani.annivapp}}</p>
        <ul>
            <li><a href="{% url 'age:annivdetail' ani.pk%}">詳細画面へ</a></li>
            <li><a href="{% url 'age:annivupdate' ani.pk%}" >編集画面へ</a></li>
            <li><a href="{% url 'age:annivdelete' ani.pk%}" >削除画面へ</a></li>
        </ul>
    {% endfor %}
    <h2>その他</h2>
    {% for otr in object_list4 %}
        <p>{{otr.otherapp}}</p>
        <ul>
            <li><a href="{% url 'age:otherdetail' ani.pk%}">詳細画面へ</a></li>
            <li><a href="{% url 'age:otherupdate' ani.pk%}" >編集画面へ</a></li>
            <li><a href="{% url 'age:otherdelete' ani.pk%}" >削除画面へ</a></li>
        </ul>
    {% endfor %}
    <p><a href="{% url 'age:homeeleccreate' %}" >新規作成画面へ</a></p>
{%endblock content %}
