{% extends 'base.html' %}
{% load widget_tweaks %}
  {% block header %}
    <h1>追加</h1>
  {% endblock %}
  {% block content %}
  <p>種類</p>
  <p><a href="{% url 'age:furncreate' %}" >家具</a></p>
  <ul class="kind">
  <li><a href="{% url 'age:homeeleccreate' %}" >家電</a></li>
  <li><a href="{% url 'age:anivcreate' %}" >記念日</a></li>
  <li><a href="{% url 'age:fashioncreate' %}" >ファッション</a></li>
  <li><a href="{% url 'age:othercreate' %}" >文房具、食器、雑貨、その他</a></li>
  </ul>
    <form enctype="multipart/form-data" action="{% url 'age:furncreate' %}"  method ="post">{% csrf_token %}
      <h3>名前</h3>
      {{ form.name|add_class:"form-field"}}
      <br>
      <h3>ストーリー</h3>
      {{ form.story|add_class:"form-field"}}
      <br>
      <h3>誕生日</h3>
      {{ form.birthday|add_class:"form-field"}}
      <br>
      <h3>お気に入り度</h3>
      {{ form.favorite|add_class:"form-field"}}
      <br>
      <h3>サムネイル画像</h3>
      {{ form.picture1|add_class:"form-btn"}}
      <br>
      <br>
      <input type="submit" value="追加する" class="txtbtn">
    </form>
  {% endblock %}
