{% extends 'base.html' %}
{% load imagesize %}
  {% block header %}
    <h1>ギャラリー</h1>
  {% endblock %}
  {% block content %}
{% for image in object_list%}
   {% with img=image.favorite %}
      {% if image.picture1 %}
         <img src='{{ MEDIA_URL }}{{image.picture1}}' width={{ 0 | size:img}}>
      {% endif %}
         {% if im2.picture %}
            <img src='{{ MEDIA_URL }}{{im2.picture}}' width={{ 0 | size:img}}>
         {% endif %}
   {% endwith %}
{% endfor %}
{% for image in object_list2%}
   {% with img=image.favorite %}
      {% if image.picture1 %}
         <img src='{{ MEDIA_URL }}{{image.picture1}}' width={{ 0 | size:img}}>
      {% endif %}
      {% for im2 in pictures2 %}
         {% if im2.picture %}
            <img src='{{ MEDIA_URL }}{{im2.picture}}' width={{ 0 | size:img}}>
         {% endif %}
      {% endfor %}
   {% endwith %}
{% endfor %}
{% for image in object_list3%}
   {% with img=image.favorite %}
      {% if image.picture1 %}
         <img src='{{ MEDIA_URL }}{{image.picture1}}' width={{ 0 | size:img}}>
      {% endif %}
      {% for im2 in pictures3 %}
         {% if im2.picture %}
            <img src='{{ MEDIA_URL }}{{im2.picture}}' width={{ 0 | size:img}}>
         {% endif %}
      {% endfor %}
   {% endwith %}
{% endfor %}
{% for image in object_list4%}
   {% with img=image.favorite %}
      {% if image.picture1 %}
         <img src='{{ MEDIA_URL }}{{image.picture1}}' width={{ 0 | size:img}}>
      {% endif %}
      {% for im2 in pictures4 %}
         {% if im2.picture %}
            <img src='{{ MEDIA_URL }}{{im2.picture}}' width={{ 0 | size:img}}>
         {% endif %}
      {% endfor %}
   {% endwith %}
{% endfor %}
{% for image in object_list5%}
   {% with img=image.favorite %}
      {% if image.picture1 %}
         <img src='{{ MEDIA_URL }}{{image.picture1}}' width={{ 0 | size:img}}>
      {% endif %}
      {% for im2 in pictures5 %}
         {% if im2.picture %}
            <img src='{{ MEDIA_URL }}{{im2.picture}}' width={{ 0 | size:img}}>
         {% endif %}
      {% endfor %}
   {% endwith %}
{% endfor %}
<p><a href="{% url 'age:homeeleccreate' %}" class="txtbtn">新規作成画面へ</a></p>
{%endblock content %}