{% extends 'base.html' %}
{% load age %}
{% block header %}
<h1>{{ object.name }}</h1>
{% endblock %}
{% block content %}
{% if type == 'furn' %}
   <p><a href="{% url 'age:furnupdate' object.pk%}" >編集</a></p>
{% elif type == 'elec' %}
   <p><a href="{% url 'age:homeelecupdate' object.pk%}" >編集</a></p>
{% elif type == 'cloth' %}
   <p><a href="{% url 'age:fashionupdate' object.pk%}" >編集</a></p>
{% elif type == 'other' %}
   <p><a href="{% url 'age:otherupdate' object.pk%}" >編集</a></p>
{% endif %}
{% if type == 'furn' %}
   <p><a href="{% url 'age:furndelete' object.pk%}" >削除</a></p>
{% elif type == 'elec' %}
   <p><a href="{% url 'age:homeelecdelete' object.pk%}" >削除</a></p>
{% elif type == 'cloth' %}
   <p><a href="{% url 'age:fashiondelete' object.pk%}" >削除</a></p>
{% elif type == 'other' %}
   <p><a href="{% url 'age:otherdelete' object.pk%}" >削除</a></p>
{% endif %}
<p>{{ 0 | showage:object.birthday}}歳</p>
<p>大事度：{{object.favorite}}</p>
<p>ヒストリー：{{ object.story }}</p>
{% if object.category %}
<p>カテゴリ：{{ object.category }}</p>
{% endif %}
{% if object.picture1 %}
   <img src='{{ MEDIA_URL }}{{object.picture1}}' width=200>
{% endif %}
{% if object.picture2 %}
   <img src='{{ MEDIA_URL }}{{object.picture2}}' width=200>
{% endif %}
{% if object.picture3 %}
   <img src='{{ MEDIA_URL }}{{object.picture3}}' width=200>
{% endif %}
{% if object.picture4 %}
   <img src='{{ MEDIA_URL }}{{object.picture4}}' width=200>
{% endif %}
{% if object.picture5 %}
   <img src='{{ MEDIA_URL }}{{object.picture5}}' width=200>
{% endif %}
{% if object.picture6 %}
   <img src='{{ MEDIA_URL }}{{object.picture6}}' width=200>
{% endif %}
{% if object.picture7 %}
   <img src='{{ MEDIA_URL }}{{object.picture7}}' width=200>
{% endif %}
{% if object.picture8 %}
   <img src='{{ MEDIA_URL }}{{object.picture8}}' width=200>
{% endif %}
{% if object.picture9 %}
   <img src='{{ MEDIA_URL }}{{object.picture9}}' width=200>
{% endif %}
{% if object.picture10 %}
   <img src='{{ MEDIA_URL }}{{object.picture10}}' width=200>
{% endif %}
<h2>ヒストリー</h2>
{% for object2 in object2 %}
{% if object2.history1 %}
   <p>{{object2.historyday1}} {{object2.history1}}</p>
{% endif %}
{% if object2.history2 %}
   <p>{{object2.historyday2}} {{object2.history2}}</p>
{% endif %}
{% if object2.history3 %}
   <p>{{object2.historyday3}} {{object2.history3}}</p>
{% endif %}
{% if object2.history4 %}
   <p>{{object2.historyday4}} {{object2.history4}}</p>
{% endif %}
{% if object2.history5 %}
   <p>{{object2.historyday5}} {{object2.history5}}</p>
{% endif %}
{% if object2.history6 %}
   <p>{{object2.historyday6}} {{object2.history6}}</p>
{% endif %}
{% if object2.history7 %}
   <p>{{object2.historyday7}} {{object2.history7}}</p>
{% endif %}
{% if object2.history8 %}
   <p>{{object2.historyday8}} {{object2.history8}}</p>
{% endif %}
{% if object2.history9 %}
   <p>{{object2.historyday9}} {{object2.history9}}</p>
{% endif %}
{% if object2.history10 %}
   <p>{{object2.historyday10}} {{object2.history10}}</p>
{% endif %}
{% endfor %}
{% if object2 %}
   {% if type == 'furn' %}
      <p><a href="{% url 'age:furnhistoryupd' object.pk%}" >ヒストリーを編集</a></p>
   {% elif type == 'elec' %}
      <p><a href="{% url 'age:elechistoryupd' object.pk%}" >ヒストリーを編集</a></p>
   {% elif type == 'cloth' %}
      <p><a href="{% url 'age:fashionhistoryupd' object.pk%}" >ヒストリーを編集</a></p>
   {% elif type == 'other' %}
      <p><a href="{% url 'age:otherhistoryupd' object.pk%}" >ヒストリーを編集</a></p>
   {% endif %}
{% else %}
   {% if type == 'furn' %}
      <p><a href="{% url 'age:furnhistory' %}" >ヒストリーを追加</a></p>
   {% elif type == 'elec' %}
      <p><a href="{% url 'age:elechistory' %}" >ヒストリーを追加</a></p>
   {% elif type == 'cloth' %}
      <p><a href="{% url 'age:fashionhistory'%}" >ヒストリーを追加</a></p>
   {% elif type == 'other' %}
      <p><a href="{% url 'age:otherhistory'%}" >ヒストリーを追加</a></p>
   {% endif %}
{% endif %}
{% endblock%}
