{% extends 'base.html' %}
  {% block header %}
    <h1>追加</h1>
  {% endblock %}
  {% block content %}
  <p>種類</p>
  <p><a href="{% url 'age:homeeleccreate' %}" >家電</a></p>
  <ul class="kind">
  <li><a href="{% url 'age:annivcreate' %}" >記念日</a></li>
  <li><a href="{% url 'age:furncreate' %}" >家具</a></li>
  <li><a href="{% url 'age:clothescreate' %}" >ファッション</a></li>
  <li><a href="{% url 'age:othercreate' %}" >文房具、食器、雑貨、その他</a></li>
  </ul>
    <form action = "" method ="post"name="imageadd" id="imageadd">{% csrf_token %}
      {{ thingform.as_p }}
      {{ imageform.as_p }}
      <input type="submit" value="追加する" name="imageadd">
  {% endblock %}
