{% extends 'base.html' %}
{% load age %}
{% load static%}
{% block header %}
{% if object.picture1 %}
   <img src='{{ MEDIA_URL }}{{object.picture1}}' width=1300 class="thumbnail">
{%else %}
   {% with img="img/"|addstr:type|addstr:"-background.svg" %}
         <img src="{% static img %}" width=1300 class="thumbnail">
   {% endwith %}
{% endif %}
{% if type == 'aniv' %}
<h1 class="thingstitle">{{ object.annivapp }}</h1>
{% else %}
<h1 class="thingstitle">{{ object.name }}</h1>
{% endif %}
{% endblock %}
{% block content %}
{% if type == 'furn' %}
   <p><a href="{% url 'age:furnupdate' object.pk%}" >
{% elif type == 'elec' %}
   <p><a href="{% url 'age:homeelecupdate' object.pk%}" >
{% elif type == 'aniv' %}
   <p><a href="{% url 'age:anivupdate' object.pk%}" >
{% elif type == 'fashion' %}
   <p><a href="{% url 'age:fashionupdate' object.pk%}" >
{% elif type == 'other' %}
   <p><a href="{% url 'age:otherupdate' object.pk%}" >
{% endif %}
<img src="{% static 'img/edit.svg' %}" width=80 alt="編集" class="editbtn"></a></p>
{% if type == 'furn' %}
   <p><a href="{% url 'age:furndelete' object.pk%}" >
{% elif type == 'elec' %}
   <p><a href="{% url 'age:homeelecdelete' object.pk%}" >
{% elif type == 'aniv' %}
   <p><a href="{% url 'age:anivdelete' object.pk%}" >
{% elif type == 'fashion' %}
   <p><a href="{% url 'age:fashiondelete' object.pk%}" >
{% elif type == 'other' %}
   <p><a href="{% url 'age:otherdelete' object.pk%}" >
{% endif %}
<img src="{% static 'img/delete.svg' %}" width=80 alt="削除" class="deletebtn"></a></p>
{% if type == 'aniv' %}
<p>記念日が起こってから :  <span class="detailage">{{ 0 | showage:object.didday}}年</span></p>
{% else %}
<h3 class="detailage">{{ 0 | showage:object.birthday}}歳</h3>
{% endif %}
{% if type == 'aniv' %}
<p>記念日が起こった日付：{{object.didday}}</p>
{% else %}
<p>誕生日：{{object.birthday}}</p>
{% endif %}
<p>大事度：{{object.favorite}}</p>
<p>ストーリー：{{ object.story }}</p>
{% if object.category %}
   <p class="float">カテゴリ：</p>
   {% if type == 'furn' %}
   <div class="furntag">
   {% elif type == 'elec' %}
      <div class="electag">
   {% elif type == 'aniv' %}
      <div class="anivtag">
   {% elif type == 'fashion' %}
      <div class="clothtag">
   {% elif type == 'other' %}
      <div class="othertag">
   {% endif %}
      {% with img="img/"|addstr:object.category|addstr:".svg" %}
          <img src="{% static img %}" width=30 class="category">
      {% endwith %}
      <p>{{ object.category }}
   </p></div>
{% endif %}
<h3 class="float-clear">画像</h3>
{% if object.picture1 %}
   <img src='{{ MEDIA_URL }}{{object.picture1}}' width=100>
{% endif %}
{% if object.picture2 %}
   <img src='{{ MEDIA_URL }}{{object.picture2}}' width=100>
{% endif %}
{% if object.picture3 %}
   <img src='{{ MEDIA_URL }}{{object.picture3}}' width=100>
{% endif %}
{% if object.picture4 %}
   <img src='{{ MEDIA_URL }}{{object.picture4}}' width=100>
{% endif %}
{% if object.picture5 %}
   <img src='{{ MEDIA_URL }}{{object.picture5}}' width=100>
{% endif %}
<br>
{% if object.picture6 %}
   <img src='{{ MEDIA_URL }}{{object.picture6}}' width=100>
{% endif %}
{% if object.picture7 %}
   <img src='{{ MEDIA_URL }}{{object.picture7}}' width=100>
{% endif %}
{% if object.picture8 %}
   <img src='{{ MEDIA_URL }}{{object.picture8}}' width=100>
{% endif %}
{% if object.picture9 %}
   <img src='{{ MEDIA_URL }}{{object.picture9}}' width=100>
{% endif %}
{% if object.picture10 %}
   <img src='{{ MEDIA_URL }}{{object.picture10}}' width=100>
{% endif %}
<h3>ヒストリー</h3>
{% for object2 in object2 %}
{% if object2 %}
   <p>{{object2.historyday1}} {{object2.history1}}</p>
   {% with link="age:"|addstr:type|addstr:"historyupd" %}
      <p><a href="{% url link object2.pk%}" >編集</a></p>
   {% endwith %}
{% endif %}
{% endfor %}
{% with link="age:"|addstr:type|addstr:"history" %}
   <p><a href="{% url link object.pk%}" >ヒストリーを追加</a></p>
{% endwith %}
{% endblock%}
