{% extends 'base.html' %}
{% load age %}
{% block header %}
    <h1>一覧</h1>
{% endblock header %}
{% block content %}
    <h2>家電</h2>
    {% for elec in object_list2 %}
        <p>{{elec.name}}</p>
        <p>{{ elec.name | showage:elec.birthday}}歳</p>
        <img src='{{ MEDIA_URL }}{{elec.picture1}}' width=100>
        <a href="{% url 'age:homeelecdetail' elec.pk%}">詳細画面へ</a>
    {% endfor %}
    <h2>家具</h2>
    {% for furn in object_list %}
        <p>{{furn.name}}</p>
        <p>{{ furn.name | showage:furn.birthday}}歳</p>
        <img src='{{ MEDIA_URL }}{{furn.picture1}}' width=100>
        <a href="{% url 'age:furndetail' furn.pk%}">詳細画面へ</a>
    {% endfor %}
    <h2>記念日</h2>
    {% for ani in object_list3 %}
        <p>{{ani.annivapp}}</p>
        <p>{{ ani.annivapp | showage:ani.didday}}年</p>
        <img src='{{ MEDIA_URL }}{{ani.picture1}}' width=100>
        <a href="{% url 'age:anivdetail' ani.pk%}">詳細画面へ</a>
    {% endfor %}
    <h2>ファッション</h2>
    {% for fas in object_list5 %}
        <p>{{fas.name}}</p>
        <p>{{ fas.name | showage:fas.birthday}}歳</p>
        <img src='{{ MEDIA_URL }}{{fas.picture1}}' width=100>
        <a href="{% url 'age:clothesdetail' fas.pk%}">詳細画面へ</a>
    {% endfor %}
    <h2>その他</h2>
    {% for otr in object_list4 %}
        <p>{{otr.name}}</p>
        <p>{{ otr.name | showage:otr.birthday}}歳</p>
        <img src='{{ MEDIA_URL }}{{otr.picture1}}' width=100>
        <a href="{% url 'age:otherdetail' ani.pk%}">詳細画面へ</a>
    {% endfor %}
    <p><a href="{% url 'age:homeeleccreate' %}" >新規作成画面へ</a></p>
{%endblock content %}
