{% extends 'base.html' %}
{% load static%}
{% load age %}
{% block header %}
    <h1>一覧</h1>
{% endblock header %}
{% block content %}
    <a href="{% url 'age:homeeleccreate' %}" ><img src="{% static 'img/add.svg' %}" width=80 alt="新規作成" class="addbtn"></a>
    <h2 class="electitle">家電</h2>
    <ul class="elec">
        {% for elec in object_list2 %}
            <li>
            <a href="{% url 'age:homeelecdetail' elec.pk%}">
                {% if elec.picture1%}
                    <img src='{{ MEDIA_URL }}{{elec.picture1}}' width=100>
                {% elif elec.category == 'その他'%}
                    <img src="{% static 'img/elec.svg' %}" width=100>
                {% else %}
                    {% with img="img/"|addstr:elec.category|addstr:".svg" %}
                        <img src="{% static img %}" width=100>
                    {% endwith %}
                {% endif %}
                <p class="name">{{elec.name}}</p>
                <p class="age">{{ elec.name | showage:elec.birthday}}歳</p>
            </a>
            </li>
        {% endfor %}
    </ul>
    <h2 class="furntitle">家具</h2>
    <ul class="furn">
    {% for furn in object_list %}
        <li>
            <a href="{% url 'age:furndetail' furn.pk%}">
                {% if furn.picture1%}
                    <img src='{{ MEDIA_URL }}{{furn.picture1}}' width=100>
                {% else %}
                    <img src="{% static 'img/furn.svg' %}" width=100>
                {% endif %}
                <p class="name">{{furn.name}}</p>
                <p class="age">{{ furn.name | showage:furn.birthday}}歳</p>
            </a>
        </li>
    {% endfor %}
    </ul>
    <h2 class="anivtitle">記念日</h2>
    <ul class="aniv">
    {% for ani in object_list3 %}
        <li>
            <a href="{% url 'age:anivdetail' ani.pk%}">
                {% if ani.picture1%}
                    <img src='{{ MEDIA_URL }}{{ani.picture1}}' width=100>
                {% else %}
                    <img src="{% static 'img/aniv.svg' %}" width=100>
                {% endif %}
                <p class="name">{{ani.annivapp}}</p>
                <p class="age">{{ ani.annivapp | showage:ani.didday}}年</p>
            </a>
        </li>
    {% endfor %}
    </ul>
    <h2 class="fashiontitle">ファッション</h2>
    <ul class="fashion">
    {% for fas in object_list5 %}
        <li>
            <a href="{% url 'age:fashiondetail' fas.pk%}">
                {% if fas.picture1%}
                    <img src='{{ MEDIA_URL }}{{fas.picture1}}' width=100>
                {% elif fas.category == 'その他'%}
                    <img src="{% static 'img/fashion.svg' %}" width=100>
                {% else %}
                    {% with img="img/"|addstr:fas.category|addstr:".svg" %}
                        <img src="{% static img %}" width=100>
                    {% endwith %}
                {% endif %}
                <p class="name">{{fas.name}}</p>
                <p class="age">{{ fas.name | showage:fas.birthday}}歳</p>
            </a>
        </li>
    {% endfor %}
    </ul>
    <h2 class="othertitle">その他</h2>
    <ul class= "other">
        {% for otr in object_list4 %}
            <li>
                <a href="{% url 'age:otherdetail' otr.pk%}">
                    {% if otr.picture1%}
                        <img src='{{ MEDIA_URL }}{{otr.picture1}}' width=100>
                    {% elif otr.category == 'その他'%}
                        <img src="{% static 'img/other.svg' %}" width=100>
                    {% else %}
                        {% with img="img/"|addstr:otr.category|addstr:".svg" %}
                            <img src="{% static img %}" width=100>
                        {% endwith %}
                    {% endif %}
                    <p class="name">{{otr.name}}</p>
                    <p class="age">{{ otr.name | showage:otr.birthday}}歳</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{%endblock content %}
