{% extends 'base.html' %}
  {% block header %}
    <h1>追加</h1>
  {% endblock %}
  {% block content %}
  <p>種類</p>
  <p><a href="{% url 'age:othercreate' %}" >文房具、食器、雑貨、その他</a></p>
  <ul class="kind">
  <li><a href="{% url 'age:homeeleccreate' %}" >家電</a></li>
  <li><a href="{% url 'age:anivcreate' %}" >記念日</a></li>
  <li><a href="{% url 'age:furncreate' %}" >家具</a></li>
  <li><a href="{% url 'age:fashioncreate' %}" >ファッション</a></li>
  </ul>
    <form enctype="multipart/form-data" action="{% url 'age:othercreate' %}"  method ="post">{% csrf_token %}
      {{ form.as_p }}
      {{ imageform.as_p }}
      <input type="submit" value="追加する">
    </form>
  {% endblock %}
